{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    {% block head %}{% endblock head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href='{% static "style.css" %}'>
    <title>{% block title %}My Page{% endblock title %}</title>
</head>
<body>

    <div class="maindiv">
        <div class="navbar">
            <ol>
                <li><a href="" style="user-select: none;">home</a></li>
                <li><a href="" style="user-select: none;">students</a></li>
                <li><a href="" style="user-select: none;">batches</a></li>
                <li><a href="" style="user-select: none;">history</a></li>
            </ol>
        </div>
        <div class="contextdiv">
            {% block context %}
            {% endblock context %}
        </div>
    </div>

</body>
</html>